/* majority same as index stylesheet */
.logo {
    margin-left: 25px;
    margin-top: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 25px;
}

.topright {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.pages {
    display: flex;
    justify-content: flex-end;
    gap:50px;
    border-bottom: 4px solid black;
    padding-right: 35px;
    height: 100px;
}

/* row flex container */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 35px;
}

/* div for rightside of info next to pic */
.right {
    flex-direction: column;
    margin-left:60px;
    margin-right:0px;
    width: 100px;
    flex-grow: 1;
}

/* div for whole row of final checkout */
.finalcheckout {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content:left;
}

/* div for Add to Cart button */
.checkout {
    width: 130px;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 41px;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border: 3px solid black;
    background-color: yellow;
    flex-shrink: 0;
}

.priceList {
    margin-left: 30px;
}

/* same url decorator */
a {
    text-decoration: none;
    color: black;
}

/* diff fonts and text options to match  */
h1 {
    font-weight: lighter;
    font-size: large;
    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    font-size: larger;
}

h3 {
    margin-left: 12px;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: auto;
    margin-top: auto;
}

h4 {
    font-weight: lighter;
    font-size: x-large;
    padding-top: 25px;
}

h5 {
    text-align: left;
    font-weight: lighter;
    font-size: large;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 10px;
}

h6{
    text-align: center;
    font-weight: lighter;
    font-size:x-large;
    margin-top: 25px;
}

/* bun pic initialization */
.bunpic {
    display: block;
    margin-left: auto;
    margin-right:auto;
    flex-shrink: 0;
    height:100%;
    border: 3px solid black;
}

/* tag for highlighted page */
#selected {
    background-color: yellow;
}

/* row flex to fit dropdown box */

select {
    width: 270px;
    height: 50px;
    border: 3px solid black;
    margin-left: 10px;
    font-size:large;
    padding-left: 10px;
}

.option {
    flex-grow: 1;
    margin-left: 20px;
}

/* making a little arrow -> is there a more efficient way ? */
.arrow {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

/* div for dropdown box title */
.subject {
    margin-left: 0px;
    margin-right: auto;
    width: 300px;
    text-align: left;
    font-weight: lighter;
    font-size: x-large;
    line-height: 0px;
}

#price {
    font-weight: bolder;
}
