.topbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 25px;
    /* background-color:rgb(157, 226, 249); */
    background-color:rgb(2, 46, 123);
    border-bottom: solid rgb(159, 189, 240) 3px;
    align-items: center;
}

.unitbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 25px;
    align-items: center;
    padding-top: 20px;
}

.topname {
    padding-bottom: 0px;
}

.intro {
    padding-top: 100px;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding-top: 50px;
    flex-wrap:wrap;
}

.innericon {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(39, 130, 204);
    border-radius: 40px;
    margin-bottom: 40px;
}

.iconimage {
    margin-top: 30px;
    border-radius: 30px;
}

h1 {
    font-family: lato, sans-serif;
    font-size:xxx-large;
    font-weight: 300;
    color:rgb(255, 255, 255);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

h2 {
    font-family: lato, sans-serif;
    font-size:xx-large;
    font-weight: 200 px;
    color: rgb(2, 46, 123);
}

h3 {
    font-family: lato, sans-serif;
    font-weight:bold;
    font-size: xx-large; 
    color:white;
}

h4 {
    font-family: lato, sans-serif;
    font-weight:lighter;
    font-size: xx-large; 
    color:black;
}

#homebutton:hover{
    transform: scale(1.1);
}

.innericon:hover{
    transform: scale(1.05);
    box-shadow: 0 0 11px rgb(30, 57, 41);

}